<form [formGroup]="vectorialShapefileForm" (ngSubmit)="add()">

  <mat-form-field appearance="outline">
    <mat-label>ატვირთეთ განაცხადის ვექტორული shapefile</mat-label>
    <input type="text" formControlName="shapefile" matInput placeholder="საკადასტრო კოდი (მაგ.: xx.xx.xx.xxx)" required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>მისამართი</mat-label>
    <input type="text" formControlName="address" matInput placeholder="მისამართი" required>
  </mat-form-field>

  <button mat-button type="submit">დამატება</button>

</form>
