<form [formGroup]="vectorialShapefileForm" (ngSubmit)="add()">
  <label id="shapefile-field">
    <span>ატვირთეთ განაცხადის ვექტორული shapefile</span>
    <mat-icon>cloud_upload</mat-icon>
    <input
      type="file"
      style="display: none;"
      accept="application/zip"
      formControlName="shapefile"
      (change)="onShapefileUpload($event)"
      required
    />
  </label>

  <mat-form-field appearance="outline">
    <mat-label>მისამართი</mat-label>
    <input
      type="text"
      formControlName="address"
      matInput
      placeholder="მისამართი"
      required
    />
  </mat-form-field>

  <!--  <button mat-button type="submit">დამატება</button>-->
</form>

<div class="ol-map-container">
  <div #olMap class="ol-map" openlayers></div>
</div>
