<div>
  <mat-radio-group aria-label="Select an option" (change)="changeRadioButton($event)">
    <mat-radio-button [value]="1" [checked]="true">საკადასტრო ერთეული</mat-radio-button>
    <mat-radio-button [value]="2">ვექტორული shapefile</mat-radio-button>
    <mat-radio-button [value]="3">რუკაზე მონიშვნა</mat-radio-button>
  </mat-radio-group>

  <app-cadastral-entity *ngIf="radioButtonValue === 1"></app-cadastral-entity>
  <app-vectorial-shapefile *ngIf="radioButtonValue === 2"></app-vectorial-shapefile>
  <app-mark-on-map *ngIf="radioButtonValue === 3"></app-mark-on-map>
</div>
